---
---

@import "{{ site.theme }}";

/* Slate header */
.page-header {
  /* colorful gradient */
  background: linear-gradient(90deg,#0044cc,#00c6ff,#6dd5ed);
  padding: 3rem 0;
}

/* Hide title text in header if any */
.project-name,
.project-tagline,
.site-title {
  display: none;
}
